*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
* section button {
  background-color: transparent;
  margin: 5px;
  border: 1px solid #FEECE2;
  border-bottom: 1px solid #f17c3d ;
  border-top: 1px solid #f17c3d ;
  box-shadow: black 1.8px 1.7px 1.9px;
  border-radius: 12px;
  padding: 7px;
  color: #9B4444;
  font-size: 15px;
  cursor: pointer;
}
* button {
  background-color: transparent;
  margin: 5px;
  border: 1px solid #f17c3d;
  border-radius: 12px;
  padding: 7px;
  color: #9B4444;
  font-size: 15px;
  cursor: pointer;
}
* img {
  border: 1px solid #FEECE2;
  border-radius: 1.9px;
}
* header {
  border-bottom: 0.5px solid #9B4444;
  padding: 8px;
  background-color: #E0CCBE;
}
